# Node.js
node_modules/
npm-debug.log
.env

# Python
__pycache__/
*.pyc
.env

# Go
*.exe
*.out
*.test

# PHP
vendor/
*.log

# Dataset
data/
*/data/

# VSCode / IDE
.vscode/
.idea/

# Docker artifacts
*.log
*.pid
*.sock

# System files
.DS_Store
Thumbs.db
